main {
    .navbar-2 {
        margin: 0 17%;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;

        a,
        span {
            margin-top: 50px;
            font-size: 21px;
            color: #1d1d1f;
            cursor: pointer;
            display: block;
        }

        span {
            &:hover {
                color: #d2d2d7
            }
        }

    }

    .info-left {
        padding: 80px 0 80px 17%;
        display: flex;
        flex-direction: column;
        background-color: #f5f5f7;

        h2 {
            font-size: 48px;
            line-height: 1.08349;
            font-weight: 600;
            color: #1d1d1f;
            font-family: "SFProText";
        }

        p {
            margin-top: 13px;
            font-size: 21px;
            line-height: 1.381;
            letter-spacing: -1px;
        }

        a {
            margin-top: 17px;
            color: #06c;
            font-size: 21px;
            line-height: 1.381;
            font-weight: 400;

            &:hover {
                text-decoration: underline;
            }
        }

        background-image: url(../images/accessories-background.jfif);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 400px 0px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            padding: 70px 17% 0px 17%;
            font-size: 32px;
            line-height: 1.125;
            font-weight: 700;
            letter-spacing: -1px;
        }

        .search-bar {
            text-align: left;
            margin-top: 30px;
            height: 56px;
            width: 37%;
            color: #1d1d1f;
            border: 1px solid #d2d2d7;
            font-size: 18px;
            padding-left: 20px;
            background-color: white;
            border-radius: 10px;
            position: relative;

            .search {
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }

    .browse-types {
        .container {
            padding: 50px 20% 0px 20%;

            .browse {
                display: flex;
                justify-content: center;
                border-bottom: 1px solid #d2d2d7;
                margin-bottom: 30px;

                .product,
                .category {
                    padding: 9px 0 11px;
                    color: #1d1d1f;
                    font-size: 17px;
                    font-weight: 400;
                    margin-right: 50px;

                    &:hover {
                        color: black;
                        border-bottom: 1px solid black;
                    }
                }
            }

            .types {
                display: flex;
                justify-content: center;
                padding-bottom: 50px;
                border-bottom: 1px solid #d2d2d7;
                column-gap: 50px;

                .mac,
                .iPad,
                .iPhone,
                .watch,
                .tv {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    cursor: pointer;

                    &:hover {
                        p {
                            color: #06c;
                        }
                    }

                    .icon-product {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 70px;
                        height: 75px;
                        width: 75px;
                        font-size: 45px;
                        border: 1px solid black;
                        border-radius: 50%;
                    }

                    p {
                        margin-top: 17px;
                    }
                }
            }
        }
    }

    .holiday-gifts {
        padding: 0px 17% 50px 17%;
        cursor: pointer;

        h2 {
            text-align: center;
            padding: 90px 0 20px 0;
            font-size: 40px;
            line-height: 1.1;
            font-weight: 700;
        }

        span {
            display: block;
            margin-top: 17px;
            color: #06c;
            font-size: 18px;
            line-height: 1.381;
            font-weight: 400;
            text-align: center;
            letter-spacing: -1px;
        }

        .gifts {
            display: flex;
            justify-content: center;

            .airpods,
            .pencil,
            .magsafe {
                padding: 63px 40px;
                border-radius: 20px;
                margin-right: 10px;
                width: 33%;
                background-color: #f2f2f2;

                &:hover {
                    .info-gift {
                        p {
                            color: #06c;
                        }
                    }
                }

                .image-gift {
                    img {
                        width: 100%;
                        margin-bottom: 14px;
                    }
                }

                .info-gift {
                    h3 {
                        padding: 4px 0 6px;
                        font-size: 12px;
                        line-height: 1.33337;
                        font-weight: 400;
                        color: #bf4800;
                        text-align: center;
                        cursor: pointer;
                    }

                    p {
                        font-size: 14px;
                        line-height: 1.42859;
                        font-weight: 600;
                        color: #1d1d1f;
                        cursor: pointer;
                        text-align: center;
                    }

                    span {
                        margin-top: 20px;
                        font-size: 14px;
                        line-height: 1.42859;
                        font-weight: 400;
                        color: #1d1d1f;
                        display: block;
                        text-align: center;
                        cursor: pointer;
                    }
                }
            }

            .magsafe {
                p {
                    margin-top: 25px;
                }

            }
        }
    }

    .wow-never {
        .container {
            display: flex;
            margin: 0 17% 0 17%;
            background-color: #01012a;

            .left-navigation {
                padding: 0 0 0 100px;
                width: 50%;

                img {
                    width: 115px;
                    height: 115px;
                    margin: 120px 0 -20px 140px;
                    display: flex;
                    justify-content: center;
                }

                h3 {
                    font-size: 40px;
                    font-weight: 600;
                    color: #fff;
                    text-align: center;
                }

                span {
                    color: #2997ff;
                    cursor: pointer;
                    display: block;
                    text-align: center;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .right-image {
                width: 50%;

                img {
                    width: 411px;
                    height: 411px;
                }
            }
        }

    }

    .iphone-accessories {
        .accessories {
            .magsafe-charger {
                .info-accessories {
                    p {
                        margin-top: 30px;
                    }

                    span {
                        margin-top: 35px;
                    }
                }
            }

            .iphone14-black {
                .info-accessories {
                    p {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .ipad-accessories {
        .accessories {
            .apple-pencil {
                .info-accessories {
                    p {
                        margin-top: 25px;
                    }

                    span {
                        margin-top: 40px;
                    }
                }
            }
        }
    }
}