//? ------------------------------- Vüsal Rzalı ------------------------------ */
// chapternav start
.chapternav {
  padding: 8px 0px;
  margin: 0px 34px;
  padding: 0px 0px 30px;
  margin-top: 15px;

  .chapternav-items {
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
    gap: 39px;
    height: 80px;
    object-fit: fill;
    .chapter-item {
      object-fit: cover;

      span {
        &:nth-child(1) {
          font-size: 12px;
          line-height: 1.33337;
          font-weight: 400;
          letter-spacing: -0.01em;
          color: #1d1d1f;
        }
        &:nth-child(2) {
          font-size: 10px;
          line-height: 1.2;
          font-weight: 400;
          letter-spacing: -0.008em;
          color: #bf4800;
          width: 100%;
        }
      }
      &:nth-child(4) {
        img {
          width: 28px;
          height: 54px;
        }
      }
      &:nth-child(5) {
        img {
          width: 28px;
          height: 54px;
        }
      }
      &:nth-child(6) {
        img {
          width: 35px;
          height: 54px;
        }
      }
      &:nth-child(7) {
        img {
          width: 50px;
          height: 54px;
        }
      }
      &:nth-child(8) {
        img {
          width: 72px;
          height: 54px;
        }
      }
      &:nth-child(9) {
        img {
          width: 33px;
          height: 54px;
        }
      }
      &:nth-child(10) {
        img {
          width: 35px;
          height: 54px;
        }
        &:hover {
          background-color: pink;
          color: #0066cc;
        }
      }
      .chapternav-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-self: center;
      }
    }
  }
}
// chapternav END
// Ribbon START
.ribbon {
  background-color: #f5f5f7;
  text-align: center;
  padding-top: 0.94118em;
  padding-bottom: 0.94118em;
  p {
    color: #1d1d1f;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0.3px;
    a {
      color: #0066cc;
      font-size: 14px;
      font-weight: 100;
    }
  }
}
// Ribbon END
.macbookAirSection {
  padding: 60px 0px;

  .container {
    .macbook-air {
      height: 694px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;

      span {
        font-weight: 600;
        margin-bottom: 0.5em;
        background: rgba(0, 0, 0, 0);
        border-color: #bf4800;
        color: #f56300;
      }
      h2 {
        font-size: 56px;
        line-height: 1.07143;
        font-weight: 600;
        letter-spacing: -0.005em;
        color: #1d1d1f;
      }
      h3 {
        font-size: 28px;
        line-height: 1.14286;
        font-weight: 600;
        letter-spacing: 0.007em;
      }
      h5 {
        font-size: 17px;
        line-height: 1.47059;
        font-weight: 400;
        letter-spacing: -0.022em;
        color: #1d1d1f;
        padding-top: 18px;
      }
      .section-content {
        background: url(../images/macbook_air_m2__r1jrymq4ftea_large.jpg);
        background-position: center bottom;
        margin-top: 46px;
        width: 483px;
        height: 369px;
      }
      .macbook-air-content-row {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        button {
          cursor: pointer;
          display: inline-block;
          text-align: center;
          white-space: nowrap;
          font-size: 17px;
          line-height: 1.17648;
          font-weight: 400;
          letter-spacing: -0.022em;
          border: none;
          font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue",
            "Helvetica", "Arial", sans-serif;
          min-width: 28px;
          padding-left: 16px;
          padding-right: 16px;
          padding-top: 8px;
          padding-bottom: 8px;
          border-radius: 980px;
          background: #0071e3;
          color: #fff;
        }
        a {
          color: #06c;
        }
      }
    }
  }
}
.macbookProSection {
  background-color: black;

  .container {
    .macbook-pro {
      text-align: center;
      background: url(../images/macbook_pro_13__e3r46kd69eoi_large.jpg);
      background-repeat: no-repeat;
      background-position: center bottom;
      width: 100%;
      height: 699px;
      .macbook-pro-content {
        padding-top: 90px;
        span {
          font-weight: 600;
          margin-bottom: 0.5em;
          background: rgba(0, 0, 0, 0);
          border-color: #bf4800;
          color: #f56300;
          margin-top: 90px;
        }
        h2 {
          font-size: 56px;
          line-height: 1.07143;
          font-weight: 600;
          letter-spacing: -0.005em;
          color: #f5f5f7;
        }
        h3 {
          font-size: 28px;
          line-height: 1.14286;
          font-weight: 600;
          letter-spacing: 0.007em;
          color: #f5f5f7;
        }
        h5 {
          font-size: 17px;
          line-height: 1.47059;
          font-weight: 400;
          letter-spacing: -0.022em;
          color: #f5f5f7;
          padding-top: 18px;
        }

        .macbook-pro-content-row {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
          padding-top: 15px;
          button {
            cursor: pointer;
            display: inline-block;
            text-align: center;
            white-space: nowrap;
            font-size: 17px;
            line-height: 1.17648;
            font-weight: 400;
            letter-spacing: -0.022em;
            border: none;
            font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue",
              "Helvetica", "Arial", sans-serif;
            min-width: 28px;
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 8px;
            padding-bottom: 8px;
            border-radius: 980px;
            background: #0071e3;
            color: #fff;
          }
          a {
            color: #06c;
          }
        }
      }
    }
  }
}
