@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@font-face {
  font-family: "Myriad";
  src: url("../fonts/Myriad.ttf") format("ttf");
}
@font-face {
  font-family: "SFProText";
  src: url("../fonts/SF_Pro_Text.ttf") format("ttf");
}
@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SF_Pro_Display.otf") format("otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "SFProText", "SFProDisplay", "Myriad", "Mulish", sans-serif;
}

.header {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 9999;
  width: 100%;
  min-width: 1024px;
  height: 44px;
  user-select: none;
}
.header .outClickOverlay {
  display: none;
}
.header .outClickOverlay::before {
  content: "";
  width: 100%;
  height: 44px;
  background-color: rgba(0, 0, 0, 0.01);
  position: absolute;
  top: 0;
  left: 0;
}
.header .navBar {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 22px;
  position: relative;
  z-index: 2;
  box-sizing: content-box;
}
.header .navBar .navList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -8px;
  width: auto;
  height: 44px;
  box-sizing: content-box;
}
.header .navBar .navList .navItem {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
.header .navBar .navList .navItem a {
  font-size: 12px;
  line-height: 3.66667;
  font-weight: 300;
  color: #f5f5f7;
  position: relative;
  z-index: 1;
  padding: 0 8px;
  height: 44px;
  opacity: 0.8;
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  box-sizing: content-box;
}
.header .navBar .navList .navItem a .logo {
  font-size: 18px;
  color: #f5f5f7;
  opacity: 0.8;
}
.header .navBar .navList .navItem a i {
  font-size: 14px;
  color: #f5f5f7;
  opacity: 0.8;
}
.header .navBar .navList .navItem a:hover {
  opacity: 1;
}
.header .navBar .navList .navItem a:hover .logo {
  opacity: 1;
}
.header .navBar .navList .navItem a:hover i {
  opacity: 1;
}
.header .navBar .navList .cart {
  position: relative;
}
.header .navBar .navList .cart .cartBox {
  display: none;
  position: absolute;
  right: -130px;
  top: 48px;
  border: 1px solid #d2d2d7;
  background: #fff;
  width: 288px;
  height: 324px;
  border-radius: 18px;
}
.header .navBar .navList .cart .cartBox .triangle::after {
  content: "";
  background: #fff;
  border-radius: 2px 0 0 0;
  left: 50%;
  border: 0.5px solid #d2d2d7;
  border-bottom: none;
  border-right: none;
  display: block;
  position: absolute;
  top: -8px;
  width: 8px;
  height: 8px;
  transform: rotate(45deg) skew(4deg, 4deg);
  transform-origin: 0% 0;
  z-index: 1;
}
.header .navBar .navList .cart .cartBox .cartBoxContent {
  margin: 0 auto;
  min-height: 90px;
  padding: 0 20px;
  position: relative;
  z-index: 2;
}
.header .navBar .navList .cart .cartBox .cartBoxContent .cartTitle {
  color: #6e6e73;
  padding: 35px 0 23px;
  text-align: center;
  letter-spacing: -0.016em;
  font-size: 14px;
  font-weight: 600;
}
.header .navBar .navList .cart .cartBox .cartBoxContent .cartNav {
  margin-bottom: 9px;
}
.header .navBar .navList .cart .cartBox .cartBoxContent .cartNav ul {
  margin: 12px 0 0;
}
.header .navBar .navList .cart .cartBox .cartBoxContent .cartNav ul li {
  border-top: none;
  border-top: 0.5px solid #d2d2d7;
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.header .navBar .navList .cart .cartBox .cartBoxContent .cartNav ul li a {
  color: #06c;
  line-height: 44px;
  padding: 0 28px;
  letter-spacing: -0.016em;
  font-size: 14px;
  font-weight: 600;
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.header .navBar .navList .cart .cartBox .cartBoxContent .cartNav ul li a i {
  color: #06c;
  margin-left: -28px;
  margin-right: 12px;
  font-size: 16px;
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.watch-bar {
  width: 100%;
  height: auto;
  padding: 12px 0;
}
.watch-bar .watch-navBar {
  width: 100%;
  height: 100px;
  margin-top: 44px;
}
.watch-bar .watch-navBar .row-navBar {
  text-align: center;
}
.watch-bar .watch-navBar .row-navBar .watch-items {
  display: flex;
  margin: 0 34px;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: center;
}
.watch-bar .watch-navBar .row-navBar .watch-items .item {
  margin-top: 3px;
  padding: 0 5px 0 4px;
  display: inline-block;
  vertical-align: top;
  margin: 0 -0.1176470588em;
  text-align: center;
  display: inline-block;
}
.watch-bar .watch-navBar .row-navBar .watch-items .item .figure {
  width: 28px;
  height: 54px;
  margin: 0 auto 3px;
}
.watch-bar .watch-navBar .row-navBar .watch-items .item .item-main-text {
  font-size: 12px;
  line-height: 1.3333733333;
  font-weight: 400;
  letter-spacing: -0.01em;
  white-space: normal;
  max-width: 7em;
  margin: 0 auto;
}
.watch-bar .watch-navBar .row-navBar .watch-items .item .item-main-text a {
  color: black;
}
.watch-bar .watch-navBar .row-navBar .watch-items .item .item-main-text a:hover {
  color: #06c;
}
.watch-bar .watch-navBar .row-navBar .watch-items .item .item-date-text {
  font-size: 10px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.008em;
  top: 100%;
  left: 0;
  width: 100%;
}
.watch-bar .watch-navBar .row-navBar .watch-items .item .item-date-text a {
  color: #bf4800;
}
.watch-bar .watch-navBar .row-navBar .watch-items .item-2,
.watch-bar .watch-navBar .row-navBar .watch-items .item-3,
.watch-bar .watch-navBar .row-navBar .watch-items .item-4 {
  padding: 0 9px;
}
.watch-bar .watch-navBar .row-navBar .watch-items .item-8 {
  padding: 0 15px;
}
.watch-bar .watch-navBar .row-navBar .watch-items .item-8 a img {
  width: 28px;
  height: 54px;
}
.watch-bar .watch-navBar .row-navBar .watch-items .item-5 {
  padding: 0 9px;
}
.watch-bar .watch-navBar .row-navBar .watch-items .item-5 .figure {
  width: 38px;
  height: 54px;
}
.watch-bar .watch-navBar .row-navBar .watch-items .item-6 {
  padding: 0 9px;
}
.watch-bar .watch-navBar .row-navBar .watch-items .item-6 .figure {
  width: 56px;
  height: 54px;
}
.watch-bar .watch-navBar .row-navBar .watch-items .item-7 {
  padding: 0 16px;
}
.watch-bar .watch-navBar .row-navBar .watch-items .item-7 .figure {
  width: 45px;
  height: 54px;
}
.watch-bar .watch-navBar .row-navBar .watch-items .item-9 {
  padding: 0 20px;
}
.watch-bar .watch-navBar .row-navBar .watch-items .item-9 .figure {
  width: 39px;
  height: 54px;
}
.watch-bar .watch-navBar .row-navBar .watch-items .item-10 {
  padding: 0 9px;
}
.watch-bar .watch-navBar .row-navBar .watch-items .item-11 {
  padding: 0 20px;
}
.watch-bar .watch-navBar .row-navBar .watch-items .item-11 .figure {
  width: 35px;
  height: 54px;
}
.watch-bar .watch-navBar .row-navBar .watch-items .item-12 {
  padding: 0 20px;
}
.watch-bar .watch-navBar .row-navBar .watch-items .item-12 .figure {
  width: 35px;
  height: 54px;
}
.watch-bar .watch-navBar .row-navBar .watch-items .item-13 {
  padding: 0 4px 0 9px;
}
.watch-bar .watch-navBar .row-navBar .watch-items .item-13 .figure {
  width: 63px;
  height: 54px;
}
.watch-bar .watch-navBar .row-navBar .holiday-gift {
  padding-top: 1em;
  padding-bottom: 0.94118em;
}
.watch-bar .watch-navBar .row-navBar .holiday-gift p {
  font-size: 14px;
  line-height: 1.42859;
  font-weight: 400;
  letter-spacing: -0.016em;
}
.watch-bar .watch-navBar .row-navBar .holiday-gift p a {
  color: #06c;
}
.watch-bar .watch-navBar .row-navBar .holiday-gift p a:hover {
  text-decoration: underline;
}
.watch-bar .watch-navBar .row-navBar .holiday-gift p a .icon {
  display: inline;
  position: static;
  padding-left: 0.3em;
}/*# sourceMappingURL=main.css.map */