@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@font-face {
  font-family: "Myriad";
  src: url("../fonts/Myriad.ttf") format("ttf");
}
@font-face {
  font-family: "SFProText";
  src: url("../fonts/SF_Pro_Text.ttf") format("ttf");
}
@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SF_Pro_Display.otf") format("otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "SFProText", "SFProDisplay", "Myriad", "Mulish", sans-serif;
}

.header {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
  z-index: 9999;
  width: 100%;
  min-width: 1024px;
  height: 44px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.header .outClickOverlay {
  display: none;
}
.header .outClickOverlay::before {
  content: "";
  width: 100%;
  height: 44px;
  background-color: rgba(0, 0, 0, 0.01);
  position: absolute;
  top: 0;
  left: 0;
}
.header .navBar {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 22px;
  position: relative;
  z-index: 2;
  box-sizing: content-box;
}
.header .navBar .navList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -8px;
  width: auto;
  height: 44px;
  box-sizing: content-box;
}
.header .navBar .navList .navItem {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
.header .navBar .navList .navItem a {
  font-size: 12px;
  line-height: 3.66667;
  font-weight: 300;
  color: #f5f5f7;
  position: relative;
  z-index: 1;
  padding: 0 8px;
  height: 44px;
  opacity: 0.8;
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  box-sizing: content-box;
}
.header .navBar .navList .navItem a .logo {
  font-size: 18px;
  color: #f5f5f7;
  opacity: 0.8;
}
.header .navBar .navList .navItem a i {
  font-size: 14px;
  color: #f5f5f7;
  opacity: 0.8;
}
.header .navBar .navList .navItem a:hover {
  opacity: 1;
}
.header .navBar .navList .navItem a:hover .logo {
  opacity: 1;
}
.header .navBar .navList .navItem a:hover i {
  opacity: 1;
}
.header .navBar .navList .cart {
  position: relative;
}
.header .navBar .navList .cart .cartBox {
  display: none;
  position: absolute;
  right: -130px;
  top: 48px;
  border: 1px solid #d2d2d7;
  background: #fff;
  width: 288px;
  height: 324px;
  border-radius: 18px;
}
.header .navBar .navList .cart .cartBox .triangle::after {
  content: "";
  background: #fff;
  border-radius: 2px 0 0 0;
  left: 50%;
  border: 0.5px solid #d2d2d7;
  border-bottom: none;
  border-right: none;
  display: block;
  position: absolute;
  top: -8px;
  width: 8px;
  height: 8px;
  transform: rotate(45deg) skew(4deg, 4deg);
  transform-origin: 0% 0;
  z-index: 1;
}
.header .navBar .navList .cart .cartBox .cartBoxContent {
  margin: 0 auto;
  min-height: 90px;
  padding: 0 20px;
  position: relative;
  z-index: 2;
}
.header .navBar .navList .cart .cartBox .cartBoxContent .cartTitle {
  color: #6e6e73;
  padding: 35px 0 23px;
  text-align: center;
  letter-spacing: -0.016em;
  font-size: 14px;
  font-weight: 600;
}
.header .navBar .navList .cart .cartBox .cartBoxContent .cartNav {
  margin-bottom: 9px;
}
.header .navBar .navList .cart .cartBox .cartBoxContent .cartNav ul {
  margin: 12px 0 0;
}
.header .navBar .navList .cart .cartBox .cartBoxContent .cartNav ul li {
  border-top: none;
  border-top: 0.5px solid #d2d2d7;
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.header .navBar .navList .cart .cartBox .cartBoxContent .cartNav ul li a {
  color: #06c;
  line-height: 44px;
  padding: 0 28px;
  letter-spacing: -0.016em;
  font-size: 14px;
  font-weight: 600;
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.header .navBar .navList .cart .cartBox .cartBoxContent .cartNav ul li a i {
  color: #06c;
  margin-left: -28px;
  margin-right: 12px;
  font-size: 16px;
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

main .navbar-2 {
  margin: 0 17%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
main .navbar-2 a,
main .navbar-2 span {
  margin-top: 50px;
  font-size: 21px;
  color: #1d1d1f;
  cursor: pointer;
  display: block;
}
main .navbar-2 span:hover {
  color: #d2d2d7;
}
main .info-left {
  padding: 80px 0 80px 17%;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f7;
  background-image: url(../images/accessories-background.jfif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 400px 0px;
}
main .info-left h2 {
  font-size: 48px;
  line-height: 1.08349;
  font-weight: 600;
  color: #1d1d1f;
  font-family: "SFProText";
}
main .info-left p {
  margin-top: 13px;
  font-size: 21px;
  line-height: 1.381;
  letter-spacing: -1px;
}
main .info-left a {
  margin-top: 17px;
  color: #06c;
  font-size: 21px;
  line-height: 1.381;
  font-weight: 400;
}
main .info-left a:hover {
  text-decoration: underline;
}
main form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main form h2 {
  padding: 70px 17% 0px 17%;
  font-size: 32px;
  line-height: 1.125;
  font-weight: 700;
  letter-spacing: -1px;
}
main form .search-bar {
  text-align: left;
  margin-top: 30px;
  height: 56px;
  width: 37%;
  color: #1d1d1f;
  border: 1px solid #d2d2d7;
  font-size: 18px;
  padding-left: 20px;
  background-color: white;
  border-radius: 10px;
  position: relative;
}
main form .search-bar .search {
  position: absolute;
  left: 0;
  top: 0;
}
main .browse-types .container {
  padding: 50px 20% 0px 20%;
}
main .browse-types .container .browse {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #d2d2d7;
  margin-bottom: 30px;
}
main .browse-types .container .browse .product,
main .browse-types .container .browse .category {
  padding: 9px 0 11px;
  color: #1d1d1f;
  font-size: 17px;
  font-weight: 400;
  margin-right: 50px;
}
main .browse-types .container .browse .product:hover,
main .browse-types .container .browse .category:hover {
  color: black;
  border-bottom: 1px solid black;
}
main .browse-types .container .types {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  border-bottom: 1px solid #d2d2d7;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
main .browse-types .container .types .mac,
main .browse-types .container .types .iPad,
main .browse-types .container .types .iPhone,
main .browse-types .container .types .watch,
main .browse-types .container .types .tv {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
main .browse-types .container .types .mac:hover p,
main .browse-types .container .types .iPad:hover p,
main .browse-types .container .types .iPhone:hover p,
main .browse-types .container .types .watch:hover p,
main .browse-types .container .types .tv:hover p {
  color: #06c;
}
main .browse-types .container .types .mac .icon-product,
main .browse-types .container .types .iPad .icon-product,
main .browse-types .container .types .iPhone .icon-product,
main .browse-types .container .types .watch .icon-product,
main .browse-types .container .types .tv .icon-product {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
  height: 75px;
  width: 75px;
  font-size: 45px;
  border: 1px solid black;
  border-radius: 50%;
}
main .browse-types .container .types .mac p,
main .browse-types .container .types .iPad p,
main .browse-types .container .types .iPhone p,
main .browse-types .container .types .watch p,
main .browse-types .container .types .tv p {
  margin-top: 17px;
}
main .holiday-gifts {
  padding: 0px 17% 50px 17%;
  cursor: pointer;
}
main .holiday-gifts h2 {
  text-align: center;
  padding: 90px 0 20px 0;
  font-size: 40px;
  line-height: 1.1;
  font-weight: 700;
}
main .holiday-gifts span {
  display: block;
  margin-top: 17px;
  color: #06c;
  font-size: 18px;
  line-height: 1.381;
  font-weight: 400;
  text-align: center;
  letter-spacing: -1px;
}
main .holiday-gifts .gifts {
  display: flex;
  justify-content: center;
}
main .holiday-gifts .gifts .airpods,
main .holiday-gifts .gifts .pencil,
main .holiday-gifts .gifts .magsafe {
  padding: 63px 40px;
  border-radius: 20px;
  margin-right: 10px;
  width: 33%;
  background-color: #f2f2f2;
}
main .holiday-gifts .gifts .airpods:hover .info-gift p,
main .holiday-gifts .gifts .pencil:hover .info-gift p,
main .holiday-gifts .gifts .magsafe:hover .info-gift p {
  color: #06c;
}
main .holiday-gifts .gifts .airpods .image-gift img,
main .holiday-gifts .gifts .pencil .image-gift img,
main .holiday-gifts .gifts .magsafe .image-gift img {
  width: 100%;
  margin-bottom: 14px;
}
main .holiday-gifts .gifts .airpods .info-gift h3,
main .holiday-gifts .gifts .pencil .info-gift h3,
main .holiday-gifts .gifts .magsafe .info-gift h3 {
  padding: 4px 0 6px;
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  color: #bf4800;
  text-align: center;
  cursor: pointer;
}
main .holiday-gifts .gifts .airpods .info-gift p,
main .holiday-gifts .gifts .pencil .info-gift p,
main .holiday-gifts .gifts .magsafe .info-gift p {
  font-size: 14px;
  line-height: 1.42859;
  font-weight: 600;
  color: #1d1d1f;
  cursor: pointer;
  text-align: center;
}
main .holiday-gifts .gifts .airpods .info-gift span,
main .holiday-gifts .gifts .pencil .info-gift span,
main .holiday-gifts .gifts .magsafe .info-gift span {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.42859;
  font-weight: 400;
  color: #1d1d1f;
  display: block;
  text-align: center;
  cursor: pointer;
}
main .holiday-gifts .gifts .magsafe p {
  margin-top: 25px;
}
main .wow-never .container {
  display: flex;
  margin: 0 17% 0 17%;
  background-color: #01012a;
}
main .wow-never .container .left-navigation {
  padding: 0 0 0 100px;
  width: 50%;
}
main .wow-never .container .left-navigation img {
  width: 115px;
  height: 115px;
  margin: 120px 0 -20px 140px;
  display: flex;
  justify-content: center;
}
main .wow-never .container .left-navigation h3 {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
main .wow-never .container .left-navigation span {
  color: #2997ff;
  cursor: pointer;
  display: block;
  text-align: center;
}
main .wow-never .container .left-navigation span:hover {
  text-decoration: underline;
}
main .wow-never .container .right-image {
  width: 50%;
}
main .wow-never .container .right-image img {
  width: 411px;
  height: 411px;
}
main .iphone-accessories .accessories .magsafe-charger .info-accessories p {
  margin-top: 30px;
}
main .iphone-accessories .accessories .magsafe-charger .info-accessories span {
  margin-top: 35px;
}
main .iphone-accessories .accessories .iphone14-black .info-accessories p {
  margin-top: 0;
}
main .ipad-accessories .accessories .apple-pencil .info-accessories p {
  margin-top: 25px;
}
main .ipad-accessories .accessories .apple-pencil .info-accessories span {
  margin-top: 40px;
}/*# sourceMappingURL=main.css.map */